<!-- src/app/reset-password/reset-password.component.html -->
<form (ngSubmit)="resetPassword()" *ngIf="!success">
	<h2 class="text-center text-pretty">Reset Password</h2>
	<hr/>
	<div class="mb-3 form-floating">
		<input
			matInput
			name="token"
			[(ngModel)]="model().Token"
			class="form-control me-2"
			placeholder="Token"
			required
		/>
	</div>
	<div class="mb-3 form-floating">
		<input
			matInput
			name="email"
			[(ngModel)]="model().Email"
			class="form-control me-2"
			placeholder="Token"
			required
		/>
	</div>
	<div class="mb-3 form-floating">
		<input
			matInput
			name="newPassword"
			[(ngModel)]="model().NewPassword"
			class="form-control me-2"
			placeholder="New Password"
			type="password"
			required
		/>
	</div>
	<div class="mb-3 form-floating">
		<input
			matInput
			name="confirmPassword"
			[(ngModel)]="model().ConfirmNewPassword"
			class="form-control me-2"
			placeholder="Confirm Password"
			type="password"
			required
		/>
	</div>
	<div class="form-group text-center">
		<button class="cool-btn" type="submit" [disabled]="loading">
			{{ loading ? 'Sending...' : 'Reset Password' }}
		</button>
	</div>
</form>
<div *ngIf="success" class="text-center">
	<h3>Success!</h3>
	<p>Your password has been reset successfully.</p>
	<button class="cool-btn" (click)="reset()">Reset</button>
</div>
