<div class="card">
	<div class="card-body">
		@if (messageService.messageThread().length === 0) {
		<p>No messages yet</p>
		} @else {
		<div
			class="h-96 overflow-y-auto"
			style="overflow: scroll; max-height: 500px; scroll-behavior: smooth"
			#scrollMe
		>
			<ul class="space-y-2">
				@for (message of messageService.messageThread(); track
				message.id) {
				<li
					class="flex items-start"
					[class.flex-row-reverse]="
						message.senderUsername !== username()
					"
				>
					@if (message.senderUsername === username()) {
					<div class="text-sm font-semibold ml-3">
						{{ message.senderUsername }}
					</div>
					}
					<div class="max-w-full bg-white p-3 rounded-lg shadow-sm">
						<div class="flex items-center justify-between">
							<small class="text-xs text-gray-500">
								<span class="fa fa-clock-o mr-1"></span>
								{{
									message.messageSent
										? (message.messageSent | timeago)
										: "Unknown time"
								}}
							</small>
							@if (message.recipientUsername === username() ||
							message.senderUsername === username()) {
							<button
								class="btn btn-sm text-white bg-red-500 hover:bg-red-600"
								(click)="deleteMessage(message.id)"
							>
								Delete
							</button>
							}
						</div>
						<div class="text-sm mt-2">
							<ng-container
								*ngIf="
									isCodeMessage(message.content);
									else plainText
								"
							>
								<pre
									style="
										white-space: pre-wrap;
										word-wrap: break-word;
									"
								><code
								class="language-clike"
								[innerHTML]="
									highlightedCode(message.content)">
									{{ message.content }}
							</code>
						</pre>
							</ng-container>
							<ng-template #plainText>
								@if (message.fileUrl) {
								<img
									*ngIf="isImageFile(message.fileUrl)"
									[src]="message.fileUrl"
									alt="File"
									class="max-w-full"
								/>
								} @else {
								<p
									class="whitespace-pre-wrap"
									style="
										white-space: pre-wrap;
										word-wrap: break-word;
									"
								>
									{{ message.content }}
								</p>
								}
							</ng-template>
						</div>
					</div>
					@if (message.senderUsername !== username()) {
					<div class="text-sm font-semibold ml-3">
						{{ message.senderUsername }}
					</div>
					}
				</li>
				}
			</ul>
		</div>
		}
	</div>

	<div class="card-footer">
		<form
			#messageForm="ngForm"
			(ngSubmit)="sendMessage()"
			class="flex items-center"
		>
			<textarea
				name="messageContent"
				required
				[(ngModel)]="messageContent"
				rows="7"
				class="w-full h-24 px-4 py-2 text-wrap text-sm transition border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-300"
				placeholder="Send a private message"
				(style.height.pt)="
					messageContent
						? messageContent.split('\n').length * 20 + 'px'
						: 'auto'
				"
			></textarea>

			<div class="flex justify-center space-x-2">
				<button
					[disabled]="!messageForm.valid"
					class="ml-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
					type="submit"
				>
					Send
				</button>

				<div class="flex items-center space-x-2">
					<button
						class="text-blue-600 hover:text-blue-700 flex items-center"
						type="button"
						(click)="fileInput?.click()"
					>
						<span class="text-sm">Send a file</span>
						<svg
							class="h-5 w-5 ml-1"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								fill-rule="evenodd"
								d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a2 2 0 000 2h2v2a1 1 0 102 0v-2h2a2 2 0 100-2h-2V7a1 1 0 10-2 0v2z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
					<input
						type="file"
						(change)="onFileChange($event)"
						class="hidden"
						id="fileInput"
						#fileInput
					/>
					<div class="relative">
						<button
							class="flex items-center space-x-1 text-blue-600 hover:text-blue-700"
							type="button"
							(click)="toggleEmojiMenu()"
						>
							<svg
								class="h-5 w-5"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a2 2 0 000 2h2v2a1 1 0 102 0v-2h2a2 2 0 100-2h-2V7a1 1 0 10-2 0v2z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm">Add emoji</span>
						</button>
						<emoji-mart
							*ngIf="showEmojiMenu"
							[style]="{ width: '300px' }"
							[enableSearch]="false"
							(emojiClick)="addEmoji($event)"
						></emoji-mart>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
