/* .report-content-dialog {
	padding: 20px;
	background: #fff;
	border-radius: 8px;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.btn-report {
	background-color: #f44336;
	color: white;
}

.btn-report:hover {
	background-color: #d32f2f;
} */
