.card {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
}

.card img {
	transform: scale(1);
	transition: transform 0.3s ease-in-out;
}

.card:hover img {
	transform: scale(1.05);
}

.card-img-wrapper {
	overflow: hidden;
	position: relative;
}

.member-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.card:hover .member-icons {
	opacity: 1;
}

.animate {
	transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}

.is-online {
	animation: fa-blink 1.5s linear infinite;
	color: rgb(1, 189, 42);
}
