<mat-card class="chat-container">
	@if (messageService.messageThread().length === 0) {
	<mat-card-content>
		<p class="text-center text-gray-500 italic">No messages yet</p>
	</mat-card-content>
	} @else {
	<mat-card-content>
		<div
			class="h-[20rem] overflow-y-auto pr-4 messages-container"
			#scrollMe
			(scroll)="onScroll($event)"
		>
			<mat-list class="message-list">
				@for (message of messageService.messageThread(); track
				message.id) {
				<div
					class="mb-4"
					[ngClass]="{
						'justify-start': message.senderUsername === username(),
						'justify-end': message.senderUsername !== username()
					}"
					style="display: flex"
				>
					<mat-card
						class="max-w-[55%]"
						[ngClass]="{
							'bg-blue-100':
								message.senderUsername === username(),
							'bg-gray-100': message.senderUsername !== username()
						}"
					>
						<mat-card-subtitle>
							{{ message.senderUsername }}
						</mat-card-subtitle>

						<mat-card-content>
							<div>
								<small class="timestamp">
									<mat-icon class="time-icon"
										>schedule</mat-icon
									>
									{{
										message.messageSent
											? (message.messageSent | timeago)
											: "Unknown time"
									}}
								</small>
								@if (message.recipientUsername === username() ||
								message.senderUsername === username()) {
								<button
									mat-icon-button
									[color]="
										message.senderUsername === username()
											? 'primary'
											: 'warn'
									"
									(click)="deleteMessage(message.id)"
									class="delete-btn"
								>
									<mat-icon>delete</mat-icon>
								</button>
								}
							</div>

							<div>
								<ng-container
									*ngIf="
										isCodeMessage(message.content);
										else plainText
									"
								>
									<mat-card class="code-block">
										<pre><code class="code-block" [innerHTML]="highlightedCode(message.content)">{{ message.content }}</code></pre>
									</mat-card>
								</ng-container>
								<ng-template #plainText>
									@if (message.fileUrl) {
									<img
										*ngIf="isImageFile(message.fileUrl)"
										[src]="message.fileUrl"
										alt="File"
										class="mat-elevation-z2"
									/>
									} @else {
									<p>
										{{ message.content }}
									</p>
									}
								</ng-template>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
				}
			</mat-list>
		</div>
	</mat-card-content>
	}
</mat-card>
