<div class="flex justify-center items-center min-h-screen">
	<mat-card class="w-96">
		<mat-card-header>
			<mat-card-title>
				<span class="text-2xl">Login</span>
				<mat-icon class="ml-2">login</mat-icon>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form
				#loginForm="ngForm"
				(ngSubmit)="login(loginForm)"
				autocomplete="off"
				class="flex flex-col gap-3 mt-4"
			>
				<mat-form-field class="w-full">
					<mat-label>Username or Email</mat-label>
					<input
						matInput
						id="usernameoremail"
						name="usernameoremail"
						[(ngModel)]="model().UsernameOrEmail"
						required
						#usernameInput="ngModel"
					/>
					<mat-error
						*ngIf="
							usernameInput.invalid &&
							(usernameInput.dirty || usernameInput.touched)
						"
					>
						Username is required
					</mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Password</mat-label>
					<input
						matInput
						id="password"
						name="password"
						[(ngModel)]="model().Password"
						[type]="passwordFieldType"
						required
					/>
					<mat-icon
						matSuffix
						(click)="togglePasswordVisibility()"
						class="cursor-pointer"
					>
						{{
							passwordFieldType === "password"
								? "visibility_off"
								: "visibility"
						}}
					</mat-icon>
				</mat-form-field>

				<div class="text-right">
					<a
						mat-button
						color="primary"
						routerLink="/forget-password"
						class="text-sm"
						>Forgot password?</a
					>
				</div>

				<div class="flex justify-center mt-2">
					<button
						mat-raised-button
						color="primary"
						type="submit"
						class="w-full"
					>
						Login
					</button>
				</div>

				<div class="flex justify-center mt-2">
					<button mat-button routerLink="/" class="w-full">
						Back to Home
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
