.cool-btn {
	background-color: rgb(183, 198, 198);
	color: #333f45;
	transition: all 0.3s ease;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	transform: translateX(2px);
	font-size: 22px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.cool-btn:hover {
	background-color: transparent;
	color: #1c79a1;
	box-shadow: 0 15px 15px rgba(28, 121, 161, 0.8);
	transform: translateY(-5px);
}

.my-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.example-full-width {
	width: 80%;
	margin: 10px 0;
}
