.dropdown-toggle, .dropdown-item {
	cursor: pointer;
	font-size: 12px;
	margin: 0; /* Убрать маргины */
	padding: 8px 16px; /* Добавить паддинги */
}

.dropdown-menu {
	margin-top: 8px; /* Уменьшить отступ сверху */
	padding: 0; /* Убрать внутренние отступы */
	border-radius: 4px; /* Закруглить углы */
}

.dropdown-item:hover {
	background-color: #f8f9fa; /* Цвет фона при наведении */
}

.dropdown-divider {
	margin: 0; /* Убрать маргины */
}

.my-nav {
	background-color: rgb(2 6 23);

}

img {
	max-height: 50px;
	border: 2px solid white;
	display: inline;
}
