<mat-toolbar class="bg-gradient-to-r from-indigo-600 to-purple-600">
	<mat-toolbar-row class="container mx-auto px-4">
		<a
			mat-button
			class="text-2xl font-bold text-emerald-950"
			routerLink="/"
		>
			<span class="flex items-center">
				<img src="Logo 3.svg" class="mr-2 h-10 w-10" alt="Logo" />
				{{ title }}
			</span>
		</a>

		<span class="flex-1"></span>

		@if (accountService.currentUser()) {
		<div class="hidden md:flex items-center space-x-4">
			<a
				mat-button
				class="text-emerald-950"
				routerLink="/members"
				routerLinkActive="bg-white/10"
			>
				<mat-icon class="mr-1">people</mat-icon>
				Friends From STEP IT
			</a>

			<a
				mat-button
				class="text-emerald-950"
				routerLink="/lists"
				routerLinkActive="bg-white/10"
			>
				<mat-icon class="mr-1">list</mat-icon>
				Lists
			</a>

			<a
				mat-button
				class="text-emerald-950"
				routerLink="/search"
				routerLinkActive="bg-white/10"
			>
				<mat-icon class="mr-1">search</mat-icon>
				Search
			</a>

			<a
				mat-button
				class="text-emerald-950 relative"
				routerLink="/messages"
				routerLinkActive="bg-white/10"
			>
				<mat-icon class="mr-1">mail</mat-icon>
				Messages @if (haveMessages) {
				<span
					class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center"
				>
					{{ newMessagesCount }}
				</span>
				}
			</a>

			<button
				mat-button
				[matMenuTriggerFor]="menu"
				class="bg-emerald-950/10 rounded-full"
			>
				<div class="flex items-center">
					<img
						class="w-8 h-8 rounded-full border-2 border-emerald-950 mr-2"
						src="{{
							accountService.currentUser()?.PhotoUrl || 'user.png'
						}}"
						alt="Profile photo"
					/>
					<span class="text-emerald-950">{{
						accountService.currentUser()?.KnownAs
					}}</span>
					<mat-icon class="ml-1">arrow_drop_down</mat-icon>
				</div>
			</button>

			<mat-menu #menu="matMenu" class="mt-2">
				<a mat-menu-item routerLink="/member/edit">
					<mat-icon>edit</mat-icon>
					<span>Edit Profile</span>
				</a>
				<a mat-menu-item routerLink="/account-settings">
					<mat-icon>settings</mat-icon>
					<span>Account Settings</span>
				</a>
				<mat-divider></mat-divider>
				<ng-container *appHasRole="['Admin']">
					<a mat-menu-item routerLink="/tron">
						<mat-icon>admin_panel_settings</mat-icon>
						<span>Tron</span>
					</a>
				</ng-container>
				<button mat-menu-item (click)="logout()" class="text-red-600">
					<mat-icon class="text-red-600">exit_to_app</mat-icon>
					<span>Logout</span>
				</button>
			</mat-menu>
		</div>
		}
	</mat-toolbar-row>
</mat-toolbar>
