<nav class="bg-gray-900 shadow-lg">
	<div class="container mx-auto px-6 py-3">
		<div class="flex items-center justify-between">
			<a
				class="text-3xl font-bold text-white"
				routerLinkActive="active"
				routerLink="/"
				>{{ title }}</a
			>

			<ul class="hidden md:flex space-x-6">
				@if (accountService.currentUser()) {
				<li>
					<a
						class="text-white hover:text-gray-300"
						routerLink="/members"
						routerLinkActive="active"
						>Friends From STEP IT</a
					>
				</li>
				<li>
					<a
						class="text-white hover:text-gray-300"
						routerLink="/lists"
						routerLinkActive="active"
						>Lists</a
					>
				</li>
				<li>
					<a
						class="text-white hover:text-gray-300"
						routerLink="/search"
						routerLinkActive="active"
						>Search</a
					>
				</li>
				<li>
					<a
						class="text-white hover:text-gray-300"
						routerLink="/messages"
						routerLinkActive="active"
						>Messages</a
					>
				</li>
				<li>
					@if (haveMessages) {
					<span class="badge bg-inherit rounded-none">
						{{ newMessagesCount }}</span
					>
					}
				</li>
				}
			</ul>

			@if (accountService.currentUser()) {
			<div class="relative" (click)="toggleDropdown()">
				<button
					class="flex items-center justify-between px-4 py-2 text-white bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
					id="dropdownDefault"
				>
					<img
						class="w-8 h-8 mr-2 rounded-full"
						src="{{
							accountService.currentUser()?.photoUrl || 'user.png'
						}}"
						alt="Main photo"
					/>
					<span class="text-sm font-semibold">
						Welcome {{ accountService.currentUser()?.knownAs }}
					</span>
					<svg
						class="w-4 h-4 ml-2"
						aria-hidden="true"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M19 9l-7 7-7-7"
						/>
					</svg>
				</button>
				<div
					*ngIf="isDropdownOpen"
					class="absolute z-10 w-48 bg-red-300 rounded-md shadow-lg dark:bg-gray-700"
				>
					<ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
						<li>
							<a
								class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
								routerLink="/member/edit"
								>Edit profile</a
							>
						</li>
						<li>
							<a
								class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
								routerLink="/account-settings"
								>Account Settings</a
							>
						</li>
						<li>
							<hr class="my-1" />
						</li>
						<li>
							<a
								class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
								(click)="logout()"
								>Logout</a
							>
						</li>
					</ul>
				</div>
			</div>

			}
		</div>
	</div>
</nav>
