<form
	#messageForm="ngForm"
	(ngSubmit)="sendMessage()"
	class="flex flex-col gap-4"
>
	<mat-form-field appearance="fill" class="w-full">
		<mat-label>Message...</mat-label>
		<textarea
			matInput
			name="messageContent"
			required
			[(ngModel)]="messageContent"
			cdkTextareaAutosize
			cdkAutosizeMinRows="3"
			cdkAutosizeMaxRows="10"
			(keydown.enter)="sendMessage()"
		></textarea>
	</mat-form-field>

	<div class="flex justify-between items-center">
		<div class="flex gap-2">
			<button
				mat-icon-button
				type="button"
				color="primary"
				(click)="fileInput?.click()"
				matTooltip="Send a file"
			>
				<mat-icon>attach_file</mat-icon>
			</button>

			<input
				type="file"
				(change)="onFileChange($event)"
				class="hidden"
				id="fileInput"
				#fileInput
			/>

			<button
				mat-icon-button
				type="button"
				color="primary"
				(click)="toggleEmojiMenu()"
				matTooltip="Add emoji"
			>
				<mat-icon>emoji_emotions</mat-icon>
			</button>

			<emoji-mart
				*ngIf="showEmojiMenu"
				[style]="{ position: 'absolute', bottom: '60px', zIndex: 1000 }"
				[enableSearch]="false"
				(emojiClick)="addEmoji($event)"
			></emoji-mart>
		</div>

		<button
			mat-raised-button
			color="primary"
			[disabled]="!messageForm.valid"
			type="submit"
		>
			<mat-icon>send</mat-icon>
			<span class="ml-1">Send</span>
		</button>
	</div>
</form>
