<form #messageForm="ngForm" (ngSubmit)="sendMessage()" class="message-form">
	<textarea
		class="message-input"
		name="messageContent"
		required
		[(ngModel)]="messageContent"
		(ngModelChange)="onMessageContentChange()"
		placeholder="Message..."
		(keydown.enter)="sendMessage()"
	></textarea>

	<div class="action-buttons">
		<div class="icon-buttons">
			<button
				mat-icon-button
				type="button"
				color="primary"
				(click)="fileInput?.click()"
				matTooltip="Send a file"
			>
				<mat-icon>attach_file</mat-icon>
			</button>

			<input
				type="file"
				(change)="onFileChange($event)"
				class="hidden"
				id="fileInput"
				#fileInput
				accept="image/*,audio/*,video/*"
			/>

			<button
				mat-icon-button
				type="button"
				color="primary"
				(click)="toggleEmojiMenu()"
				matTooltip="Add emoji"
			>
				<mat-icon>emoji_emotions</mat-icon>
			</button>

			<emoji-mart
				*ngIf="showEmojiMenu"
				[style]="{
					position: 'absolute',
					bottom: '50px',
					left: '0',
					zIndex: 1000
				}"
				[enableSearch]="false"
				(emojiClick)="addEmoji($event)"
			></emoji-mart>

			<button
				mat-icon-button
				type="button"
				color="primary"
				[ngClass]="{ recording: isRecording }"
				(click)="isRecording ? stopRecording() : startRecording()"
				matTooltip="{{
					isRecording ? 'Stop Recording' : 'Record Audio'
				}}"
			>
				<mat-icon>{{ isRecording ? "stop" : "mic" }}</mat-icon>
			</button>
		</div>

		<button
			class="send-button"
			[disabled]="!messageForm.valid"
			type="submit"
		>
			<mat-icon>send</mat-icon>
			<span>Send</span>
		</button>
	</div>
</form>
