<div class="flex items-center justify-center">
	<form class="w-full max-w-md" (ngSubmit)="search()">
		<div class="flex items-center border-b border-teal-500 py-2">
			<input
				class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
				type="text"
				placeholder="Search for a user"
				[(ngModel)]="userName"
				name="userName"
			/>
			<button
				class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
				type="submit"
			>
				Search
			</button>
			<button
				class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded ml-2"
				type="button"
				(click)="reset()"
			>
				Reset
			</button>
		</div>
	</form>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
	<app-member-card
		*ngFor="let member of members()"
		[member]="member"
	></app-member-card>
</div>
