<div class="row">
	<div class="col-4">
		<div class="card">
			<img
				src="{{ member.PhotoUrl || 'user.png' }}"
				class="card-img img-thumbnail"
				alt="{{ member.Username }}"
			/>
			<div class="card-body">
				<div>
					<strong>Location:</strong>
					<p>{{ member.City }}, {{ member.Country }}</p>
				</div>
				<div>
					<strong>Age:</strong>
					<p>{{ member.Age }}</p>
				</div>
				<div>
					<strong>Last Active:</strong>
					<p>{{ member.LastActive | timeago }}</p>
				</div>
				<div>
					<strong>Member Since:</strong>
					<p>{{ member.Created | date : "dd MMM yyyy" }}</p>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn-group d-flex">
					<button class="btn cool-btn">Like</button>
					<button
						(click)="selectTab('Messages')"
						class="btn cool-btn"
					>
						Message
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-8">
		<tabset class="member-tabset" #memberTabs>
			<tab
				heading="About {{ member.KnownAs }}"
				(selectTab)="onTabActivated($event)"
			>
				<h4>Description</h4>
				<p>{{ member.Introduction }}</p>
				<h4>Looking For</h4>
				<p>{{ member.LookingFor }}</p>
			</tab>
			<tab heading="Interests" (selectTab)="onTabActivated($event)">
				<h4>Interests</h4>
				<p>{{ member.Interests }}</p>
			</tab>
			<tab
				heading="Photos"
				#photoTab="tab"
				(selectTab)="onTabActivated($event)"
			>
				@if (photoTab.active) {
				<gallery [items]="images" class="gallery" [itemAutosize]="true">
				</gallery>
				}
			</tab>
			<tab heading="Messages" (selectTab)="onTabActivated($event)">
				<app-member-messages
					[username]="member.Username"
					[messages]="messages"
					(updatedMessages)="onUpdateMessages($event)"
				></app-member-messages>
			</tab>
		</tabset>
	</div>
</div>
