<mat-card class="mat-elevation-z8 full-height">
	<mat-card-content class="flex justify-center items-center">
		<div class="text-center">
			@if (!registerMode) {
			<div class="button-container">
				<button
					mat-raised-button
					color="primary"
					(click)="registerToggle()"
				>
					Sign Up
					<mat-icon>person_add</mat-icon>
				</button>
				<button mat-stroked-button routerLink="/login">
					Login
					<mat-icon>login</mat-icon>
				</button>
			</div>
			<img src="Logo 2.svg" alt="logo" class="logo" />
			} @else {
			<mat-card class="register-card">
				<mat-card-content>
					<app-register
						(cancelRegister)="cancelRegisterMode($event)"
					></app-register>
				</mat-card-content>
			</mat-card>
			}
		</div>
	</mat-card-content>
</mat-card>
