<div class="container mt-auto">
	<div style="text-align: center">
		@if (!registerMode) {
		<h1>Find your friend</h1>
		<p class="lead">
			Come on in to view your friends... All you need to do is sign up!
		</p>
		<div class="example-full-width">
			<button class="my-btn" (click)="registerToggle()" mat-fab extended>
				Sign Up
				<mat-icon>account_circle</mat-icon>
			</button>
			<button class="my-btn" routerLink="/login" mat-fab extended>
				Login
				<mat-icon>login</mat-icon>
			</button>
			<button class="my-btn" mat-fab extended>
				Learn more
				<mat-icon>info</mat-icon>
			</button>
		</div>

		} @else {
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-4">
					<app-register
						(cancelRegister)="cancelRegisterMode($event)"
					/>
				</div>
			</div>
		</div>
		}
	</div>
</div>
