<div class="flex justify-center items-center min-h-screen">
	<mat-card class="w-96">
		@if (!success) {
		<mat-card-header>
			<mat-card-title>
				<span class="text-2xl">Forgot Password</span>
				<mat-icon class="ml-2">lock_reset</mat-icon>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form
				(ngSubmit)="forgetPassword()"
				class="flex flex-col gap-3 mt-4"
			>
				<mat-form-field class="w-full">
					<mat-label>Email</mat-label>
					<input
						matInput
						name="email"
						[(ngModel)]="model().email"
						required
					/>
				</mat-form-field>

				<div class="flex justify-center mt-2">
					<button
						mat-raised-button
						color="primary"
						type="submit"
						[disabled]="loading"
					>
						{{ loading ? "Sending..." : "Send Reset Link" }}
					</button>
				</div>
			</form>
		</mat-card-content>
		} @if (success) {
		<mat-card-content class="text-center p-4">
			<mat-icon class="text-green-600 text-4xl mb-2"
				>check_circle</mat-icon
			>
			<h3 class="text-xl font-medium mb-2">Success!</h3>
			<p class="text-gray-600 mb-4">
				A password reset link has been sent to your email.
			</p>
			<button mat-button color="primary" (click)="reset()">Reset</button>
		</mat-card-content>
		}
	</mat-card>
</div>
