<div class="max-w-md mx-auto space-y-4">
	@if (!success) {
	<form
		(ngSubmit)="forgetPassword()"
		class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
	>
		<h2 class="text-center text-3xl font-semibold text-pretty">
			Forgot Password
		</h2>
		<hr class="my-4" />
		<div class="space-y-4">
			<div class="relative">
				<input
					matInput
					name="email"
					[(ngModel)]="model().email"
					class="w-full px-4 py-2 text-sm transition duration-150 ease-in-out border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-300"
					placeholder="Email"
					required
				/>
			</div>
		</div>
		<hr class="my-4" />
		<div class="text-center">
			<button
				class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg"
				type="submit"
				[disabled]="loading"
			>
				{{ loading ? "Sending..." : "Send Reset Link" }}
			</button>
		</div>
	</form>
	} @if (success) {
	<div class="text-center bg-green-100 p-4 rounded-lg">
		<h3 class="text-3xl font-semibold">Success!</h3>
		<p class="text-lg">
			A password reset link has been sent to your email.
		</p>
		<button class="cool-btn" (click)="reset()">Reset</button>
	</div>
	}
</div>
