<!-- src/app/forget-password/forget-password.component.html -->
@if (!success) {
	<form (ngSubmit)="forgetPassword()">
		<h2 class="text-center text-pretty">Forgot Password</h2>
		<hr/>
		<div class="mb-3 form-floating">
			<input
				matInput
				name="email"
				[(ngModel)]="model().Email"
				class="form-control me-2"
				placeholder="Email"
				required
			/>
		</div>
		<div class="form-group text-center">
			<button class="cool-btn" type="submit" [disabled]="loading">
				{{ loading ? 'Sending...' : 'Send Reset Link' }}
			</button>
		</div>

	</form>
}
@if (success) {
	<div class="text-center">
		<h3>Success!</h3>
		<p>A password reset link has been sent to your email.</p>
		<button class="cool-btn" (click)="reset()">Reset</button>
	</div>
}
