<form class="my-form" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
	<h2 class="text-center text-pretty">
		Sign up
		<mat-icon>account_circle</mat-icon>
	</h2>
	<hr/>
	<app-text-input [formControl]="$any(registerForm.controls['Email'])" [label]="'Email'"/>
	<app-text-input [formControl]="$any(registerForm.controls['Username'])" [label]="'Username'"/>
	<app-text-input [formControl]="$any(registerForm.controls['KnownAs'])" [label]="'Known As'"/>
	<app-text-input [formControl]="$any(registerForm.controls['Gender'])" [label]="'Gender'"/>
	<app-text-input [formControl]="$any(registerForm.controls['DateOfBirth'])" [type]="'date'"
					[label]="'Date of Birth'"/>
	<app-text-input [formControl]="$any(registerForm.controls['City'])" [label]="'City'"/>
	<app-text-input [formControl]="$any(registerForm.controls['Country'])" [label]="'Country'"/>
	<app-text-input [formControl]="$any(registerForm.controls['Password'])"
					[label]="'Password'"
					[type]="'password'">
	</app-text-input>

	<app-text-input [formControl]="$any(registerForm.controls['ConfirmPassword'])"
					[label]="'Confirm password'"
					[type]="'password'">
	</app-text-input>


	<div class="form-group text-center">
		<button mat-button class="cool-btn" type="submit">Register</button>
		<button mat-button class="cool-btn" (click)="cancel()">Cancel</button>
	</div>
</form>

<p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>
