.cool-btn {
	background-color: rgb(183, 198, 198);
	color: #333f45;
	transition: all 0.3s ease;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	transform: translateX(2px);
	font-size: 22px;
	margin: 15px;
	padding: 10px 20px;
}

.cool-btn:hover {
	background-color: transparent;
	box-shadow: 0 15px 15px rgba(28, 121, 161, 0.8);
}

.my-form {
	margin: 0 auto;
	padding: 15px;
	background-color: rgb(203 213 225);
	border-radius: 8px;
}

.form-floating {
	position: relative;
	margin-bottom: 1rem;
}

.form-floating label {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	transition: 0.2s ease all;
	font-size: 0.9rem;
	color: black;
}

.form-control:focus ~ label,
.form-control:not(:placeholder-shown) ~ label {
	top: 18px;
	left: 10px;
	font-size: 0.75rem;
	color: #007bff;
}

.form-control {
	padding: 12px 20px 12px 40px;
}

.form-control + mat-icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

label {
    margin-right: 10px;
}
